body {
    background-image: url('./default_image.png');
    background-size: cover;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:'#0000';
}

#mediaThumbnail {
    position: fixed;
}